extends layout

block content
 
  .welcome.text-center.container
    p#welcome-top
     
      if (method==='PUT')
        | Editar Anuncio
      else
        | Publicar Anuncio
    .hr-line
  nav.navbar.navbar-default.navbar-count
    .container
      ul.top-menu
        li
          a(href='/acount')  Mis anuncios en encuentra tu camino
        //- li
        //-   a(href='about.html')  Datos del perfil
      if user
        h3 HOLA #{user.username} !
     
      else
        h3 You are NOT logged!
 
  h1.font-categories.container Instructores
  .container.well
      form.edit-retiro(action= action ? action : '/instructores/acount/add' method= method ? method : 'POST' enctype="multipart/form-data")
        .container
          .col-sm-8        
        .row
            br
            fieldset.form-group.col-sm-2
              label Foto carnet
            input.img-picker(type="file", name="imageUrl" id="image_item" value= !instructores ? " " : instructores.imageUrl)
		  
        .row
          .col-xs-4
            
            fieldset.form-group
              label(for='recipetitle') Nombre
              | 
              input#recipetitle.form-control(rows='1', maxlength='30', name="nombre", required ,  value= !instructores ? " " : instructores.nombre ) 
          .col-xs-4
            fieldset.form-group
              label(for='recipetitle') Apellidos
              | 
              input#recipetitle.form-control(rows='1', maxlength='30', name="apellidos", required ,  value= !instructores ? " " : instructores.apellidos ) 

          .col-xs-4
            fieldset.form-group
              label(for='recipetitle') Fecha de Nacimiento
              |
              input.tcal.form-control(name="date", value= !instructores ? " " : instructores.date  )

          .col-xs-6
            fieldset.form-group
              label(for='recipe-editor-ingredients') Camino
              |
              select.form-control(name="road", id="selectPath" )
                each val in ['Selecciona...', 'Ayurveda', 'Yoga', 'Tantra', 'Ayurveda y Yoga', 'Yoga y Tantra', 'Ayurveda y Tantra', 'Ayurveda, Yoga y Tantra']
                  -
                    let selectRoad = !instructores ? "" : instructores.road
                  if (selectRoad === (val) )
                    option(selected="selected")= selectRoad
                  else
                    option= val


          .col-xs-6
            fieldset.form-group
              label(for='recipe-editor-ingredients') Comunidad aut&oacute;noma
              |
              - var cities = ["Selecciona...", "Andalucía", "Baleares", "Canarias", "Cantabria", "Cataluña", "Galicia", "La Rioja", "Navarra", "Aragón", "Castilla-La Mancha", "Castilla y León", "Comunidad Valenciana", "Extremadura", "Comunidad Valenciana", "Madrid", "Región de Murcia"];
              select.form-control(name="comunity", id="selectComunity")
                each val in cities
                  -
                    let selectComunity = !instructores ? "" : instructores.comunity
                  if (selectComunity === (val) )
                    option(selected="selected")= selectComunity
                  else
                    option= val
          .col-xs-6.col-md-6
            fieldset.form-group
              label(for='recipetitle') Localidad
              |
              input#pac-input.controls.form-control(rows='1',type="textbox", maxlength='30', name="localitation" value= !instructores ? " " : instructores.localitation  )
          .col-xs-6.col-md-6
            fieldset.form-group
              label Misión
              |
              input#pac-input.controls.form-control(rows='1',type="textbox", maxlength='50', name="mision" value= !instructores ? " " : instructores.mision  )
              
               
          .col-xs-12 
              input#submit(type='button', value='Encuentra tu localidad')  
              #map
              input#long(name="long",hidden,  value= !instructores ? " " : instructores.long  )
              input#lat(name="lat",hidden,  value= !instructores ? " " : instructores.lat  )
            
               
          
          
          .col-xs-12.col-md-12
            fieldset.form-group
              label(for='recipe-editor-ingredients') Curriculum
              -
                let textCurriculum = !instructores ? "" : instructores.curriculum
              textarea#recipe-editor-ingredients.form-control(rows='10' name="curriculum")=textCurriculum

         

          .col-xs-4
             fieldset.form-group
              label(for='recipe-editor-directions') Artículos
              input#recipe-editor-directions.form-control(rows='3' name="articles" value= !instructores ? " " : instructores.articles  )
              input#recipe-editor-directions.form-control(rows='3' name="articles" value= !instructores ? " " : instructores.articles  )
              input#recipe-editor-directions.form-control(rows='3' name="articles" value= !instructores ? " " : instructores.articles  )
              input#recipe-editor-directions.form-control(rows='3' name="articles" value= !instructores ? " " : instructores.articles  )
              input#recipe-editor-directions.form-control(rows='3' name="articles" value= !instructores ? " " : instructores.articles  )

          .col-xs-4
            fieldset.form-group
              label(for='recipe-editor-directions') Libros
              input#recipe-editor-directions.form-control(rows='3' name="books" value= !instructores ? " " : instructores.books  )
              input#recipe-editor-directions.form-control(rows='3' name="books" value= !instructores ? " " : instructores.books  )
              input#recipe-editor-directions.form-control(rows='3' name="books" value= !instructores ? " " : instructores.books  )
              input#recipe-editor-directions.form-control(rows='3' name="books" value= !instructores ? " " : instructores.books  )
              input#recipe-editor-directions.form-control(rows='3' name="books" value= !instructores ? " " : instructores.books  )

          .col-xs-4
            fieldset.form-group
              label(for='recipe-editor-directions') Webs
              input#recipe-editor-directions.form-control(rows='3' name="webs" value= !instructores ? " " : instructores.web  )
              input#recipe-editor-directions.form-control(rows='3' name="webs" value= !instructores ? " " : instructores.web  )
              input#recipe-editor-directions.form-control(rows='3' name="webs" value= !instructores ? " " : instructores.web  )
              input#recipe-editor-directions.form-control(rows='3' name="webs" value= !instructores ? " " : instructores.web  )
              input#recipe-editor-directions.form-control(rows='3' name="webs" value= !instructores ? " " : instructores.web  )

          .col-xs-4
            fieldset.form-group
              label(for='recipe-editor-directions') Redes sociales
              input#recipe-editor-directions.form-control(rows='3' name="socials" value= !instructores ? " " : instructores.socials  )
              input#recipe-editor-directions.form-control(rows='3' name="socials" value= !instructores ? " " : instructores.socials  )
              input#recipe-editor-directions.form-control(rows='3' name="socials" value= !instructores ? " " : instructores.socials  )
              input#recipe-editor-directions.form-control(rows='3' name="socials" value= !instructores ? " " : instructores.socials  )
              input#recipe-editor-directions.form-control(rows='3' name="socials" value= !instructores ? " " : instructores.socials  )


          .col-xs-12
            fieldset.form-group
              label(for='recipe-editor-directions') Tags
              input#recipe-editor-directions.form-control(rows='3' placeholder="Inserta palabras clave" name="tags"  value= !instructores ? " " : instructores.tags  )
            .text-center
             
             if (method=== 'PUT')
              button.btn.btn-success(type='submit' value='Submit') Modificar
             else  
              button.btn.btn-warning(type='submit' value="Submit") Publicar

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/js/main.js')     
  script(src='/js/maps.js')
  script(src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyD2CtWqsM0k23XnQMwJQXASOmNEkE8IAgM&callback=initMap')
