doctype html
html(lang='en')
  head
  meta(charset='UTF-8')
  title Encuentra tu camino: Tu portal de anuncios Yoga y Ayurveda
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', type='text/css', href='/css/style.css')
  link(href='https://fonts.googleapis.com/css?family=Lobster+Two', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=News+Cycle', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Barrio', rel='stylesheet')
  link(rel='icon', type='image/png', href='../img/only_logo.png')
body  
  nav.navbar.navbar-default.navbar-fixed-top.header-mine
    .container
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only  Toggle navigation
        span.icon-bar  
        span.icon-bar  
        span.icon-bar  
      .navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-left.color-blue
          li
            a(href='about.html')
              i.glyphicon.glyphicon-envelope
              |  info@encuentratucamino.com
        ul.nav.navbar-nav.navbar-right.color-blue
          li
            a(href='about.html')
              i.glyphicon.glyphicon-heart-empty
              |  Mis favoritos
          li
            a(href='about.html')
              i.glyphicon.glyphicon-log-in
              |  loggin
    nav.navbar.navbar-default
      .container
        a(href='index.html')
          img.logo(src='../img/only_logo.png', width='150px', height='90px')
          .welcome.text-center
        .font-categories.logo.title-mine
          h2 "Encuentra tu camino"
      ul.top-menu
        li
          a(href='about.html')
            | Encuentra 
            small
              i.glyphicon.glyphicon-menu-down
        li
          a(href='about.html')  Conóncenos
        li
          a(href='about.html')  Blog
        li
          a(href='createEvent.html')  Anúnciate gratis
  .welcome.text-center.container
    p.welcome-top
      | Publica tu anuncio
      .hr-line
  nav.navbar.navbar-default.navbar-count
    .container
      ul.top-menu
        li
          a(href='about.html')  Mis anuncios en encuentra tu camino
        li
          a(href='about.html')  Datos del perfil
  h1.font-categories.container Retiros
  .container.well
    .row
      .col-xs-12.col-md-3
        form(action='/clients', method='POST')
          fieldset.form-group
            label(for='recipetitle') Titulo
            input#recipetitle.form-control(rows='1', maxlength='30', type='text', name='title')
            input.btn.btn-primary(type='submit', value='Submit')



          .col-xs-12.col-md-3
            fieldset.form-group
              label(for='recipe-editor-ingredients') Camino
              select.form-control(type='text', name='path')
                option Selecciona...
                option Yoga
                option Ayurveda
                option Yoga y Ayurveda
          .col-xs-12.col-md-3
            fieldset.form-group
              label(for='recipe-editor-ingredients') Categoria de anuncio
              select.form-control(type='text', name='category')
                option Selecciona...
                option Retiros
                option Formaciones
                option Talleres
                option Conferencias
                option Maestros espirituales
          .col-xs-12.col-md-3
            fieldset.form-group
              label(for='recipe-editor-ingredients') Comunidad autónoma
              select.form-control(type='text', name='comunity')
                option Selecciona...
                option Andalucía
                option Baleares
                option Canarias
                option Cantabria
                option Cataluña
                option  Galicia
                option  La Rioja
                option  Navarra
                option Aragón
                option Castilla-La Mancha
                option Castilla y León
                option Comunidad Valenciana
                option Extremadura
                option Comunidad Valenciana
                option   Madrid
                option Región de Murcia
                |                 Madrid
          .col-xs-12.col-md-12
            fieldset.form-group
              label(for='recipetitle') Localidad
              input#recipetitle.form-control(rows='1', maxlength='30', type='text', name='localitation')
          .col-xs-12.col-md-2
            fieldset.form-group
              label(for='recipetitle') Fecha Inicio
              input#recipetitle.form-control(rows='1', maxlength='30', type='text', name='startDate')
          .col-xs-12.col-md-1
            p.label-time Hora
          .col-xs-12.col-md-1.label-nums
            fieldset.form-group
              br
              select.form-control(type='number', name='timeHourStart')
                option 00
                option 01
                option 02
                option 03
                option 04
                option 05
                option 06
                option 07
                option 08
                option 09
                option 10
                option 11
                option 12
                option 13
                option 14
                option 15
                option 16
                option 17
                option 18
                option 19
                option 20
                option 21
                option 22
                option 23
          .col-xs-12.col-md-1
            p.label-time Minuto
          .col-xs-12.col-md-1.label-nums
            fieldset.form-group
              br
              select.form-control(type='number', name='timeMinuteStart')
                option 00
                option 01
                option 02
                option 03
                option 04
                option 05
                option 06
                option 07
                option 08
                option 09
                option 10
                option 11
                option 12
                option 13
                option 14
                option 15
                option 16
                option 17
                option 18
                option 19
                option 20
                option 21
                option 22
                option 23
                option 24
                option 25
                option 26
                option 27
                option 28
                option 29
                option 30
                option 31
                option 32
                option 33
                option 34
                option 35
                option 36
                option 37
                option 38
                option 39
                option 40
                option 41
                option 42
                option 43
                option 44
                option 45
                option 46
                option 47
                option 48
                option 49
                option 50
                option 51
                option 52
                option 53
                option 54
                option 55
                option 56
                option 57
                option 58
                option 59
          .col-xs-12.col-md-2
            fieldset.form-group
              label(for='recipetitle') Fecha Fin
              input#recipetitle.form-control(rows='1', maxlength='30', type="text", name="endDate" )
          .col-xs-12.col-md-1
            p Hora
          .col-xs-12.col-md-1
            fieldset.form-group
              br
              select.form-control(type='number', name='timeHourStart')
                option 00
                option 01
                option 02
                option 03
                option 04
                option 05
                option 06
                option 07
                option 08
                option 09
                option 10
                option 11
                option 12
                option 13
                option 14
                option 15
                option 16
                option 17
                option 18
                option 19
                option 20
                option 21
                option 22
                option 23
          .col-xs-12.col-md-1
            p Minuto
          .col-xs-12.col-md-1
            fieldset.form-group
              br
              select.form-control(type='number', name='timeMinuteStart')
                option 00
                option 01
                option 02
                option 03
                option 04
                option 05
                option 06
                option 07
                option 08
                option 09
                option 10
                option 11
                option 12
                option 13
                option 14
                option 15
                option 16
                option 17
                option 18
                option 19
                option 20
                option 21
                option 22
                option 23
                option 24
                option 25
                option 26
                option 27
                option 28
                option 29
                option 30
                option 31
                option 32
                option 33
                option 34
                option 35
                option 36
                option 37
                option 38
                option 39
                option 40
                option 41
                option 42
                option 43
                option 44
                option 45
                option 46
                option 47
                option 48
                option 49
                option 50
                option 51
                option 52
                option 53
                option 54
                option 55
                option 56
                option 57
                option 58
                option 59
          .col-xs-12.col-md-12
            fieldset.form-group
              label(for='recipe-editor-ingredients') Descripción
              textarea#recipe-editor-ingredients.form-control(rows='3', type="text", name="description")
            fieldset.form-group
              label(for='recipe-editor-directions') Tags
              textarea#recipe-editor-directions.form-control(rows='3',  type="text", name="tags")
              input.btn.btn-primary(type='submit', value='Submit')

      .container
          .col-md-6
            h2 Event 
            ul
              each event in events
                  li
                    h2 Categoria: #{event.category}
                    h3 Titulo del evento: #{event.title}
                    p Localidad: #{event.localitation}
                    p Comunidad autónoma: #{event.comunity}
                    p Publicación: #{event.createEvent} 
                    p Hora inicio: #{event.timeHourStart}:#{event.timeMinuteStart}
                    p Descripción: #{event.description} 
                    p tags: #{event.tags}    
                    
      script(src="/bower_components/jquery/dist/jquery.min.js")
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    

