extends layout
block content
  
    .container 
    
    
      
    .col-md-6.responsive
      img(src='/img/search.png', width='26px', height='26px').ino 
      input#search.intros( type="text" placeholder="indica el lugar") 
      h1#title-mine.title-terapies|: #{retiros.length}
      .hr-line2
        br
        .container|Total encontrados: #{retiros.length}
      div.over
         
       
       each retiro in retiros
         
       
          .col-md-6.col-lg-4.events-link

            .thumbnail.offer.margins.links.hvr-grow-shadow
             a.image-a.img-responsive(href='/details/'+ retiro.id)
              img(src= retiro.imageUrl, width="201px" height="174px" class="image2")
              
              h2#box.text-center
                |#{retiro.title} 
              div
                
                <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Maps/location-25.png" title="Marker" width="26" height="26">
                  |&nbsp;&nbsp; Localización #{retiros.localitation}
                
                 
              br
              div
                <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Time_And_Date/calendar-25.png" title="Calendar" width="26" height="26">
                |&nbsp;&nbsp;Fecha: #{retiros.startDate}
              p
                |
              hr
                
              div.iter
                div.lat.hidden #{retiro.lat}
                div.long.hidden #{retiro.long}
                
              img(src='https://maxcdn.icons8.com/Android_L/PNG/24/Ecommerce/price_tag-24.png', title='Price Tag', width='24')
              |   #{retiro.tags} 
      if !retiros.length
        .container
          h3 No se han encontrado retiros
        
         
    .col-md-6
      div#maps
        
         
      
    

            
              
      script(src='/js/allMaps.js')
      script(src='/js/filters.js')
          
      script(src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyD2CtWqsM0k23XnQMwJQXASOmNEkE8IAgM&callback=viewMap')
      script(src='/js/insert-title.js')
           