extends layout

block content
  .welcome.text-center.container
    p(onload="countDown('true','2018','4','12','13','31','14')")#welcome-top.title-event
     | #{retiros.title}
    .hr-line
  .my-container

    .row.file-event
      div.col-md-offset-1.col-sm-6
        //- #article-photo-carousel.img-responsive.carousel.slide
        //-   .img-responsive.carousel-inner.cont-slider
        //-     .item.active
        div.col-sm-12.col-md-12.col-lg-12.responsive-image
        img(src= retiros.imageUrl, width="95%" height="350px", alt= retiros.title).image1
         
        div.col-sm-12.margin-description
          .panel-two
            .panel.panel-yellow
              .panel-heading.text-center Descripci&oacute;n
              .panel-body
                p.margin-text #{retiros.description}

      div.col-sm-6.col-md-4.event-margin

        div.col-sm-12.details-event
          .panel.panel-yellow
            .panel-heading.text-center Detalles
            ul
                li 
                  <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Maps/location-25.png" title="Marker" width="26" height="26">
                  |&nbsp;&nbsp; Localidad: #{retiros.localitation}
                hr
                script(type='text/javascript').
                  function countDown(repite,a,me,d,h,m,s){
                  var form=document.getElementById('form');
                  if (repite=='true'){
                  var anyo=a;
                  var mes=me-1;
                  var dia=d;
                  var hora=h;
                  var minuto=m;
                  var segundo=s;
                  var La_fecha = new Date();
                  var La_fecha_total = new Date(anyo,mes,dia,hora,minuto,segundo);
                  toSecond = (La_fecha_total - La_fecha)/1000
                  toDay = parseInt(toSecond/86400);
                  toSecond=toSecond-(toDay*86400);
                  toHour = parseInt(toSecond/3600);
                  toSecond=toSecond-(toHour*3600);
                  toMinute=parseInt(toSecond/60);
                  toSecond=parseInt(toSecond-(toMinute*60));
                  }
                  toSecond=toSecond-1;
                  if(toSecond<0)
                  {
                  toSecond=59;
                  toMinute=toMinute-1;
                  }
                  form.second.value=toSecond;
                  if(toMinute<0)
                  {
                  toMinute=59;
                  toHour=toHour-1;
                  }
                  form.minute.value=toMinute;
                  if(toHour<0)
                  {   toHour=23;
                  toDay=toDay-1;
                  }
                  form.hour.value=toHour;
                  form.day.value=toDay;
                  if(toDay<0)
                  {
                  form.second.value=0;
                  form.minute.value=0;
                  form.hour.value=0;
                  form.day.value=0;
                  }
                  else{
                  setTimeout("countDown('false')",1000);
                  }
                  }
  
                li
                  <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Time_And_Date/calendar-25.png" title="Calendar" width="26" height="26">
                  |&nbsp;&nbsp;Fecha Inicio: #{retiros.startDate}
                  br
                  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha Fin: #{retiros.endDate}
                hr
                li 
                  <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Time_And_Date/clock-25.png" title="Clock" width="26" height="26">
                  |&nbsp;&nbsp; Hora Inicio: #{retiros.timeHourStart}:#{retiros.timeMinuteStart}
                  br
                  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hora Fin: #{retiros.timeHourEnd}:#{retiros.timeMinuteEnd}
                hr
                 
                li 
                  <img src="https://maxcdn.icons8.com/iOS7/PNG/25/Finance/euro-25.png" title="Euro" width="26" height="26">
                  |&nbsp;&nbsp; Precio: #{retiros.price}
                hr
                li
                  img(src="https://maxcdn.icons8.com/dotty/PNG/80/Network/domain-80.png", title="Domain", width="26" height="26")
                  |&nbsp;&nbsp; Web: #{retiros.web}
                hr
                li
                  img(src='https://maxcdn.icons8.com/dotty/PNG/80/Mobile/ringing_phone-80.png', title='Ringing Phone', width='26', height='26')
                  |&nbsp;&nbsp;  Teléfono de contacto: #{retiros.tel}  

      
        .row.file-event
          div.col-sm-12
            .panel.panel-yellow
              .panel-heading.text-center Compartir
              .panel-body.my-panel
                .social-nav
                 ul
                  li
                    a.twitter( target='_blank', title='Twitter', rel='nofollow' href='https://twitter.com/share', data-via='mariuCSS') 
                            script.
                                          !function(d,s,id){
                                          var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                                          if(!d.getElementById(id)){
                                          js=d.createElement(s);
                                          js.id=id;
                                          js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');')
                            i.fa.fa-twitter
                    li
                      a.facebook(target='_blank', title='Facebook', rel='nofollow', onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", href=' http://www.facebook.com/share?url=http://encuentratucamino.herokuapp.com/details/'+ retiros._id) 

                            i.fa.fa-facebook    
                           
                    li
                      a.google(target='_blank', title='Google plus', rel='nofollow',onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;", href='https://plus.google.com/share?url=http://encuentratucamino.herokuapp.com/details/'+ retiros._id) 

                            i.fa.fa-google-     

        .row.file-event                 
          .col-sm-12
                .panel.panel-yellow.text-center
                  .panel-heading.text-center Ubicación
                  .panel-body.my-panel.bottom-map
                    span.text-center.c
                    #map
                    input#long(name="long",hidden,  value= parseFloat(retiros.long) )
                    input#lat(name="lat",hidden,  value= parseFloat(retiros.lat) )
        .row.file-event 
          .col-sm-12
            .panel-bottom
              .panel.panel-yellow
                .panel-heading.text-center Tags 
                .panel-tag
                  span.text-center.c     
                  |#{retiros.tags}    
     

  script(src='/js/mapsEvent.js')
  script(src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC52RbKqcX9jVN7P8gQG8VYnhU5jl6gMuI&callback=initMap')
  //- script(type='text/javascript').
  //-   // Stop carousel
  //-   $('.carousel').carousel({
  //-   interval: false
  //-   });
